/* You can add global styles to this file, and also import other style files */

/* commom */
@media (min-width: 576px) {
    .container {
        max-width: 100%;
    }
}

/* login page */
.login_wrapper {
    margin-top: 0;
}

.login_content {
    text-shadow: 0 1px 0 #000000;
}

.login_content .content_input {
    margin: 0 0 20px;
}

.login_content form input[type="text"], .login_content form input[type="email"], .login_content form input[type="password"] {
    margin: 0;
}

.login_content .text-danger {
    text-align: left;
}

/* left_col scroll-view */
.nav.side-menu>li {
    width: 100%;
}

.site_title {
    padding-left: 0px;
}

.nav-sm .navbar.nav_title a i {
    font-size: 25px;
    margin: 0px;
}

/* .top_nav */
.toggle {
    padding-top: 0;
}

.pull-right {
    float: right!important;
}

.top_nav .navbar-right {
    display: block;
}

.top_nav .dropdown-menu li a {
    display: block;
}

.dropdown-menu>li:focus, .dropdown-menu>li:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

/* notification */
@media (min-width: 768px) {
    .navbar-right .dropdown-menu {
        right: 0;
        left: auto;
    }
}

.dropdown-menu.show {
    display: block;
    width: 300px;
    right: 0;
    left: auto;
}









